@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family: "Poppins", sans-serif;
$default-color: rgb(27, 27, 27);
$accent-color: rgb(237, 165, 165);
$success-color: rgb(83, 194, 98);
$task-height: 80px;
$content-width: 350px;
$content-height: 500px;
a{
    color: $default-color;
    text-decoration: none;
    transition: .3s;
    &:hover{
        color: $accent-color;
    }
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}